{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="container">
    <h2>О проекте </h2>
    <p>Задание - https://faint-adasaurus-4bc.notion.site/web-Python-adf33211e9cc4d6b9ec2c0c619ecab31</p>

    <p class="fw-bold">Выполнено:</p>
        <ul>
        <li>Таблица содержит 4 колоноки</li>
        <li>База данных PostgreSQL</li>
        <li>Таблица имеет сортировку по всем полям кроме даты. Фильтрация реализована в виде двух выпадающих списков и текстового поля:</li>
            <ol>
            <li> Выбор колонки, по которой будет фильтрация</li>
            <li> Выбор условия (равно, содержит, больше, меньше)</li>
            <li> Поле для ввода значения для фильтрации</li>
            </ol>
        <li> Таблица содержит пагинацию</li>
        </ul>
    <p class="fw-bold">Не выполнено:</p>
        <ul><li>Вся таблица должна работать без перезагрузки страницы</li></ul>
    Причина:
        <ul><li>не удалось настроить работу ajax с сохранением пагинации</li></ul>
        <br>
    <p class="fw-bold">Примечание:</p>
        Исходя из содержания столбцов логика фильтации реализована следующим образом:
        <ul>
            <li>Функции фильтрации "Больше", "Меньше", не работают с полем "Название"</li>
            <li>Функция фильтрации "Содержит", не работает с полями "Количество" и "Расстояние"</li>
        </ul>
    <p class="fw-bold">Для начала работы, в файле settings.py, требуется указать параметры подключения к базе PostgreSQL </p>
    </div>
{% endblock %}
